.swiper-container {
  width: 350px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 20px;
  background: #00AC5A;
}

.swiper-pagination-bullet {
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  background-color :#00AC5A;
  opacity: 1;
  width: 10px;
  height: 10px;
}